#landing-page,
#apoorva-page,
#anubhav-page 
#countdown{
    background-size: cover;
}

.preLoader {
	width: 100%;
	height: 100%;
	background: url('images/preLoader.gif') center no-repeat #FFF;
	z-index: 99999;
	position: fixed;
}

/* Defining each section background and styles 
* --------------------------------------- */
#landing-page{
    background-image: url(images/bg1.jpg);
}
#apoorva-page{
    background-image: url(images/bg2.jpg);
}
#anubhav-page{
    background-image: url(images/bg3a.jpg);
}
#countdown{
    background-image: url(images/dance.png), url(images/bg9.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right bottom;
}
#photos {
    background-image: url(images/bg4.png), url(images/g10.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: left-bottom, right top;
}
#savethedate {
	background: url(images/bg4.png) no-repeat bottom left;
	z-index: -999;
}

.and {
	font-size: 40px;
	font-weight: 600;
	font-family: 'Audiowide', cursive;
}

.footer {
	position: absolute; 
	bottom: 0;
}

#overlay {
text-align: center;
display: inline-block;
border-radius: 25px;
background-color: #fff;
background-color: rgba(245,245,245,0.6);
padding: 0px; 
}

#timer {
	font-family: 'Audiowide', cursive;
	color: #fc32ca;
	font-size: 5em;
}

.box {
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: -997;
	opacity: 0.9;
}


.container-demo {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.top-padding{
	height:1%;
	text-align: right;
}
.bottom-padding {
	height:19%;
	text-align: center;
}
.intermediate-padding {
	height:20%;
	text-align: right;
}
.mid-row {
	height:60%;
	overflow: hidden;
}
.info {
	padding-left: 50%;
}


.saveTheDate h4.right {
	color: #ff5a00;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-family: 'Audiowide', cursive;
	font-size: 6em;
	text-align: right;
	line-height: 85%;
}
.saveTheDate .info {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}

.joinus {
	font-family: 'Audiowide', cursive;
	color: #1bf713;
	font-size: 5em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;	
}
.rsvp {
	display: block;
	font-size: 2em;
	color: #000;
	text-align: center;
	margin-top: -20px;
	font-family: 'Montserrat', sans-serif;
}


.logo {
	position: absolute;
	top: 50px;
	left: 0;
	font-weight: 700;
	font-weight: 900;
	z-index: 999;
	width: 100%;
	font-family: 'Audiowide', cursive;
	font-size: 1.3em;
	color: #f22a62;
	animation-name: 'logo-animation';
	animation-duration: 2s;
	animation-iteration-count: infinite;

	-webkit-animation-name: 'logo-animation';
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
@keyframes 'logo-animation' {
    0% 		{ color: #f22a62;}
    50% 	{color: #FFF;}
    100% 	{color: #f22a62;}
}
@-webkit-keyframes 'logo-animation' {
    0% 		{ color: #f22a62;}
    50% 	{color: #FFF;}
    100% 	{color: #f22a62;}
}

.absolute {
 position: absolute!important;
}

#photos .inner {
background: url(images/photos.png) no-repeat center;
width: 100%;
height: 100%;
margin: 0 0;
background-size: 600px auto;
}


.animation {
 -webkit-animation: wave 7.11111s 0.1s infinite linear;
 -moz-animation: wave 7.11111s 0.1s infinite linear;
 animation: wave 10s 0.1s infinite linear;
}
@-webkit-keyframes wave {
 0% {
	 -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
 }
 100% {
	 -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
 }
}
@-moz-keyframes wave {
 0% {
	 -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
 }
 100% {
	 -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
 }
}
@-ms-keyframes wave {
 0% {
	 -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
 }
 100% {
	 -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
 }
}
@keyframes wave {
 0% {
	 -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	 transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
 }
 100% {
	 -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	 transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
 }
}



.saveTheDate .info {
	 position: relative;
	 font-family: 'Montserrat', sans-serif;
}
.details strong {
	display: block;
	margin-bottom: 5px;
}
.section {
	margin: 0 auto;
	position: relative;
}
.watercolor {
	opacity: .3;
	z-index: -999;
	top: -70px;
	right: 0px;
}
.absolute {
	position: absolute!important;
}
.details h3 {
	text-transform: uppercase;
	font-weight: bold;
}

@media only screen and (max-width: 767px) {
	#savethedate {
		-webkit-background-size: 100px 100px;
		-moz-background-size: 100px 100px;
		-o-background-size: 100px 100px;
		background-size: 100px 100px;
	}
	
	.box {
		visibility: hidden;
	}
	.animation {
		-webkit-animation: wave 7.11111s 0.1s infinite linear alternate;
		-moz-animation: wave 7.11111s 0.1s infinite alternate;
		animation: wave 10s 0.1s infinite alternate;
	}
	.watercolor {
		opacity: .3;
		position: absolute!important;
	}
	.saveTheDate .info {
		margin-top: 10%;
		padding-left: 10%;
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
	}
	.saveTheDate h4.right {
		font-size: 2em;
	}
	.joinus {
		font-size: 2em;
	}
	.rsvp {
		font-size: 1em;
		margin-top: -2px;
	}

 }

